html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   
}

#fundo {
    position: relative;
    width: 2000px;
    height: 300px;
    max-width: 100%;
    top: 2px;
      
}

#planes {
    display: flex;
    width: 30%;
    height: 20%;
    position: absolute;
   
    float: none;
    margin-left: 70%;
    top: 190px;

}






#logo {
    position: absolute;
    width: 18%;
    top: 50px;
    margin-left: 150px;
}



    
  

.nav-menu {
    width: 500px;
    display: flex;
    position: absolute;
    flex-direction: row;
    float: none;
    margin-left: 30%;
    top: 50px;
    justify-content: space-around;
    list-style-type: none;
}  
         
       

.nav-menu li a {
    text-decoration: none;
    font-size: 20px;
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em;
    justify-content: space-between;
    
}

.nav-menu li a:hover {
    color: darkblue;
}

.intro-lede {

    width: 500px;
    display: flex;
    position: absolute;
    flex-direction: row;
    float: none;
    margin-left: 35%;
    top: 110px;
    justify-content: space-around;
    list-style-type: none;
    color:white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 30px;
    font-weight: bold;

}

.badge-version {
    position:absolute;
    font-size: 22px;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    margin-left: 1000px;
    top: 290px;          
   

}

.badge-new {
    position: absolute;
    list-style-type: none;
    color:  black;
    text-decoration: none;
    
    margin-left: 830px;
    float: none;
    top: 295px;
   
   
}

#page-wrap {
    position: relative;
    width: 50%;
    margin-left: 5em;
    word-break: break-all;
    font-size: 20px;
    
   
}
#introducing-cockpit {
    text-align: left;
    margin-left: 0.2em;
    font-size: 40px;
}

#introducing-cockpit p {
    font-size: 20px;
}

.audience-list ul li {
    flex-direction: column;

}

.audience-list p {
    font-size: 20px;
    
    width: 200px;
}


#take-a-look .screenshots {
    position: absolute;
    width: 50%;
    top: 70px;

}

.distro-logos {
    max-width: 20px;
}
