.body {
    font-family: 'robotto', sans-serif;
    
}

#fundo {
    
    position: relative;
    width: 2000px;
    max-width: 100%;
    top: 1px;
  
    
}


#logo {
    position: absolute;
    width: 18%;
    top: 50px;
    margin-left: 150px;
}



    
  

.nav-menu {
    width: 500px;
    display: flex;
    position: absolute;
    flex-direction: row;
    float: none;
    margin-left: 30%;
    top: 50px;
    justify-content: space-around;
    list-style-type: none;
}  
         
       

.nav-menu li a {
    text-decoration: none;
    font-size: 20px;
    color:white;
    justify-content: space-between;
    
}

.nav-menu li a:hover {
    color:crimson;
}

.intro-lede {

    width: 500px;
    display: flex;
    position: absolute;
    flex-direction: row;
    float: none;
    margin-left: 30%;
    top: 110px;
    justify-content: space-around;
    list-style-type: none;
    color:white;
    font-size: 30px;
    font-weight: bold;

}

.badge-new {
    display: flex;
    position: absolute;
    list-style-type: none;
    color:  black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1200px;
    top: 500px;     
    float: none;
   
}

.badge-date {
    text-decoration: none;
    font-weight: bold;
}


.badge-version {
    display: flex;
    font-size: 22px;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    margin-left: 1370px;
    top: 495px;
    position: absolute;
    
    float: none;

}

.screenshot .screenshot-zoom {
    width: 30%;
    display: flex;
    flex-direction: column;
    
}









